/* Custom additions to Tachyons */
/* Colors */
/* line 3, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.fare-black {
  color: #38393a;
}

/* line 4, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.bg-fare-black {
  background-color: #38393a;
}

/* line 6, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.fare-purple {
  color: #1d4f91;
}

/* line 7, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.bg-fare-purple {
  background-color: #1d4f91;
}

/* line 9, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.fare-aqua {
  color: #0fbdcb;
}

/* line 10, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.bg-fare-aqua {
  background-color: #0fbdcb;
}

/* line 12, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.fare-yellow {
  color: #f0db02;
}

/* line 13, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.bg-fare-yellow {
  background-color: #f0db02;
}

/* line 15, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.bg-fare-login {
  border: 1px solid #0fbdcb;
  transition: .15s ease-in-out;
}

/* line 19, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.bg-fare-login span {
  transition: .15s ease-in-out;
}

/* line 21, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.bg-fare-login:hover, .bg-fare-login:active {
  border-color: #1d4f91;
}

/* line 28, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.bg-fare-login:focus-visible {
  outline: #1d4f91 auto 1px;
}

/* line 33, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.bg-fare-login-solid {
  background-color: #f0db02;
  transition: .15s ease-in-out;
  border: 0;
  cursor: pointer;
}

/* line 39, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.bg-fare-login-solid:hover, .bg-fare-login-solid:active {
  background-color: #f0c002;
}

/* line 43, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.bg-fare-login-solid:focus-visible {
  outline: #1d4f91 auto 1px;
}

/* line 48, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
input:checked + label {
  background-color: #169b45;
  border-width: 0px;
}

/* line 53, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.fare-link {
  color: #0fbdcb;
  transition: .15s ease-in-out;
  text-decoration: none;
}

/* line 58, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.fare-link:hover {
  color: #1d4f91;
  text-decoration: underline;
}

/* Dimensions */
/* line 65, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.mw-20px {
  max-width: 20px;
}

/* line 66, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.mw-24px {
  max-width: 24px;
}

/* line 67, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.mw-90px {
  max-width: 90px;
}

/* line 68, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.mw-180px {
  max-width: 180px;
}

/* line 69, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.mw-450px {
  max-width: 450px;
}

/* line 71, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.h-1px {
  height: 1px;
}

/* line 72, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.h-2px {
  height: 2px;
}

/* line 74, /Users/bbb333/workspace/fare/Keycloak/static/scss/tachyons-fare.scss */
.mh-24px {
  max-height: 24px;
}

/* Custom Elements */

/*# sourceMappingURL=../css/tachyons-fare.map */