/* Resets */
img {
	width: 100%;
}


/* Custom additions to Tachyons */
/* Colors */
.fare-black {color: #38393a}
.bg-fare-black {background-color: #38393a}

.fare-purple {color: #1d4f91;}
.bg-fare-purple {background-color: #1d4f91;}

.fare-aqua {color: #0fbdcb;}
.bg-fare-aqua {background-color: #0fbdcb;}

.fare-yellow {color: #f0db02;}
.bg-fare-yellow {background-color: #f0db02;}

.bg-fare-login {
	border: 1px solid #0fbdcb;
	transition: .15s ease-in-out;

	span {transition: .15s ease-in-out;}

	&:hover, &:active {
		border-color: #1d4f91;


		span {
		}
	}

	&:focus-visible {
    	outline: #1d4f91 auto 1px;
	}
}

.bg-fare-login-solid {
	background-color: #f0db02;
	transition: .15s ease-in-out;
	border: 0;
	cursor: pointer;

	&:hover, &:active {
		background-color: #f0c002;
	}

	&:focus-visible {
    outline: #1d4f91 auto 1px;
	}
}

input:checked + label {
	background-color: #169b45;
    border-width: 0px;
}

.fare-link {
	color: #0fbdcb;
	transition: .15s ease-in-out;
	text-decoration: none;

	&:hover {
		color: #1d4f91;
		text-decoration: underline;
	}
}

/* Dimensions */
.mw-20px {max-width: 20px;}

.w-24px {width: 24px; max-width: 24px;}
.mw-24px {width: 100%; max-width: 24px;}

.mw-90px {max-width: 90px;}
.mw-180px {max-width: 180px;}
.mw-450px {max-width: 450px;}

.h-1px {height: 1px;}
.h-2px {height: 2px;}

.h-24px {width: auto; height: 24px; max-height: auto;}
.mh-24px {width: auto; height: 100%; max-height: 24px;}


.lh-1 {
	line-height: 1;
}
.lh-19px {
	line-height: 19px;
}


/* Custom Elements */
.fare__divider {}

.fare__or {}






.fare-checkbox-wrapper {
	cursor: pointer;
	
}
.fare-checkbox-wrapper::selection {background: transparent;}
.fare-checkbox-wrapper::-moz-selection {background: transparent;}

input[type="checkbox"] {
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	margin: 0;

	float: left;
	width: 16px;
	height: 16px;
	border: 1px solid #0fbdcb;
	border-radius: 3px;

	display: grid;
	place-content: center;

	&:hover, &:active {
		border-color: #1d4f91;
	}
}

input[type="checkbox"]::before {
  content: "";
  width: 10px;
  height: 10px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #38393a;
}

input[type="checkbox"]:checked {
	background-color: #f0db02;
	border: 1px solid #f0db02;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}










